p {
  max-width: 550px;
}

.card-img-top {
  max-height: 300px;
}

.card-body {
  background-color: #F6FAFC;
}

.notifications-container {
  background-color: white;
  padding: 20px 40px;
  margin: auto;
  max-width: 700px;
  box-shadow: 0 0 6px 2px hsl(219, 14%, 63%, 10%), 0 3px 20px 10px hsl(219, 14%, 63%, 0%) !important;
}

.buffer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.app {
  background-color: #F9FAFD;
}

.font-thick {
  font-weight: 1000;
}
