<div class="container mt-5 px-5">
  <div class="row no-gutters justify-content-center">
    <div class="col-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dev Force 2.0 FE Challenge</h5>
          <div class="card-text mt-4">
            <p>Hi there!</p>
            <p>
              This is one is going to take a little bit longer than the usual
              CodeWars, but I hope you find value in the challenge. Don't be
              afraid to ask me questions if you need a bit of assitance!
            </p>
            <p>
              I have shared a .zip file with you on the slack channel. The
              folder stucture is as follows:
            </p>
            <ul>
              <li>README.md <strong>(READ THIS FIRST)</strong></li>
              <li>
                design (here you will find previews of the mobile and desktop
                designs)
              </li>
              <li>
                assets (all of the necessary assets required to mock the
                designs)
              </li>
              <li>README-template.md</li>
              <li>index.html</li>
              <li>style-guide.md</li>
            </ul>
            <p>Make use of Bootstrap within your design.</p>
            <p>
              Make sure your design is mobile friendly. You can use Chrome dev
              tools' built in screen emulator to test the mobile view (its just
              to the left of the Chrome dev tools console tab).
            </p>
            <p>
              You can fork this StackBlitz in the top left corner and start your
              design!
            </p>
            <hr />
            <h6>Resources</h6>
            <div>
              <a
                href="https://getbootstrap.com/docs/4.1/getting-started/introduction/"
                target="_blank"
                >Bootstrap V4.1</a
              >
            </div>
            <div>
              <a href="https://www.w3schools.com/bootstrap4/" target="_blank"
                >W3Schools Bootstrap</a
              >
            </div>
            <hr />
            <div>
              Image links:
              <div class="mt-3">
                <img src="https://i.ibb.co/CQ0mbrC/image-chess.webp" alt="" />
                <img src="https://i.ibb.co/kXhFKCS/favicon-32x32.png" alt="" />
                <img
                  src="https://i.ibb.co/njNvndk/avatar-rizky-hasanuddin.webp"
                  alt=""
                />
                <img
                  src="https://i.ibb.co/YyWS2hm/avatar-nathan-peterson.webp"
                  alt=""
                />
                <img
                  src="https://i.ibb.co/Ttt8V4z/avatar-mark-webber.webp"
                  alt=""
                />
              </div>
              <div class="mt-3">
                <img
                  src="https://i.ibb.co/hF0rndX/avatar-kimberly-smith.webp"
                  alt=""
                />
                <img
                  src="https://i.ibb.co/D71Ltdt/avatar-jacob-thompson.webp"
                  alt=""
                />
                <img
                  src="https://i.ibb.co/ZzTQmbL/avatar-anna-kim.webp"
                  alt=""
                />
                <img
                  src="https://i.ibb.co/HXWp5t5/avatar-angela-gray.webp"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
