p {
  max-width: 550px;
}

.card-img-top {
  max-height: 300px;
}

.card-body {
  background-color: hsl(210, 60%, 98%);
}

.notifications-container {
  background-color: white;
  padding: 20px 40px;
  margin: auto;
  max-width: 650px;
  box-shadow: 4px rgb(0, 0, 0);
}

.app {
  background-color: #f8fafe;
}

.font-thick {
  font-weight: 1000;
}
