<div appUnread [isUnread]="notification.unread" class="notification-item">
  <div class="d-flex flex-row">
    <img
      class="profile-picture rounded-circle"
      [src]="notification.imagePath"
    />
    <div class="d-flex flex-column content-container">
      <span class="content">
        <span class="user">{{ notification.user }}</span>
        {{ notification.content }}
        <span class="subject">{{ notification.subject }}</span>
        <span class="unread" *ngIf="notification.unread"></span>
      </span>
      <div class="timestamp">{{ notification.timestamp }}</div>
    </div>
    <div *ngIf="notification.pictureSubject" class="ml-auto">
      <div class="d-flex justify-content-center align-items-center picture-container" style="border-radius: 10px">
        <img [src]="notification.pictureSubject" class="picture-subject"/>
      </div>
    </div>
  </div>
  <div *ngIf="notification.privateMessage" class="personal-message">{{notification.privateMessage}}</div>
</div>